{% extends 'base.html' %}
{% block mainpage %}
<div data-role="page">
	{% include 'header.html' %}
	{% if user.isadmin %}	
	<div data-role="content"  class="ui-content" role="main">		
		<div>
			<form action="compose" method="post">
				<label for="day">Day of the Week</label>
				<select name="day">
					{% for x in days %}
					<option label="{{ day }}">{{ day }}</option>
					{% endfor %}
				</select>
				<label for="tfrom">Time From:</label>
				<input type="number" name="tfrom" />:00
				<label for="tfrom">Time To:</label>
				<input type="number" name="tto" />:00
				<label for="venue">Venue:</label>
				<input type="text" name="venue" />
				<label for="course">Course Code:</label>
				<input type="text" name="course" />
				<label for="notes">Notes:</label>
				<textarea name="notes"> </textarea>
				<input type="submit" />
			</form>
		</div>		
	</div>
	{% include 'footer.html' %}
</div>
{% endblock %}
{% block dialogs %}
{% include 'dialogs.html' %}
{% endblock %} 