{% extends 'base.html' %}
{% block mainpage %}
<div data-role="page">
	{% include 'header.html' %}
	<div data-role="content"  class="ui-content" role="main">
		<p>
			py tables supports the basic university time table. We hope to get feedback from you... thanks
		</p>
		<div>
			<ul data-role="listview" data-theme="c" class=" ui-listview  ui-listview-inset ui-shadow ">
				<li>
					Days of the Week!!!
				</li>
				{% for day in days %}
				<li data-theme="c" data-role="collapsible" class="ui-btn ui-btn-icon-right ui-li">
					<h3>{{ day.day }}</h3>
					<ul data-role="listview" data-theme="c" class=" ui-listview  ui-listview-inset ui-corner-all ui-shadow ">
						{% for timeslot in day.timeslots %}
						<li data-theme="c" >
							<a href="timeslot?key={{ timeslot.key() }}"><strong>{{ timeslot.course }}: </strong>{{ timeslot }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</div>
		<button>
			Give Feedback
		</button>
	</div>
</div>
{% endblock %}
{% block dialogs %}
{% include 'dialogs.html' %}
{% endblock %} 