<div data-role="page" data-rel="dialog" id="menus">
	<div data-role="header">
		<h3>Your Information</h3>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-theme="c">
			<li data-role="divider"><h1>University Mobile Community</h1></li>
			<li><a href="/timetables/">Time Tables</a></li>
			<li><a href="/events/">Events</a></li>
			<li><a href="courses">Course Information</a></li>
			<li><a href="/messages/">Messages</a></li>
			<li><a href="news">University News</a></li>
		</ul>
	</div>
</div>