{% extends 'base.html' %}
{% block mainpage %}
<div data-role="page">
	{% include 'header.html' %}
	{% include 'messages/nav.html' %}
	<div data-role="content"  class="ui-content" role="main">	
		<div data-role="navbar">
			{{ message }}
		</div>	
		sender: {{ message.sender }}
		reciepient: {{ message.recipient }}
		title: {{ message.title }}
		body: {{ message.body }}		
	</div>
	{% include 'footer.html' %}
</div>
{% endblock %}
{% block dialogs %}
{% include 'dialogs.html' %}
{% endblock %} 